---
import cerdo from "@/assets/cerdo.webp";
---

<section
  class="relative grid [&>*]:col-start-1 [&>*]:row-start-1 items-center h-[40vh] w-full"
  style={{
    backgroundImage: `url(${cerdo.src})`,
    backgroundSize: "cover",
    backgroundPosition: "center",
    backgroundAttachment: "fixed",
  }}>
</section>
