---
import cerdo from "@/assets/cerdo.webp";
---

<section class="relative flex flex-col md:flex-row items-center w-full">
  <img src={cerdo.src} alt="" class="h-[85vh] md:h-screen md:w-[60vw] 2xl:w-[75vw] max-w-[1930px] object-cover" />
  <div class="flex flex-1 flex-col items-center justify-center gap-4 py-20 px-10 xl:p-0">
    <h1 class="font-custom2 text-7xl uppercase text-center">SERVICIOS</h1>
    <h2>¿Qué ofrecemos?</h2>
    <p class="text-md max-w-lg text-center uppercase tracking-[0.2em] text-gray-600 px-5">
      residencia clínica especializada en cuidados paliativos y manejo del dolor.
    </p>
  </div>
</section>
