---
import cerdo from "../assets/cerdo.webp";
---

<section class="border border-red-500 relative grid [&>*]:col-start-1 [&>*]:row-start-1 items-center">
  <img src={cerdo.src} alt="" class="h-[80vh] w-full object-cover" />
  <div class="w-full h-full bg-black/40"></div>
  <div class="">
    <h1 class="font-custom2 text-7xl uppercase text-white text-center">NOSOTROS</h1>
  </div>
</section>
