@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: hsl(var(--vainillaClaro));
}

@font-face {
  font-family: "Butler2";
  src: url("/fonts/Butler_Ultra_Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --greenish: 143 39% 78%;
    --purpleish: 228 31% 58%;
    --purpleishLight: 228 31% 64%;
    --vainillaClaro: 30 100% 98%;
    --vainilla: 26 69% 86%;
    --pinkish: 334 63% 76%;
  }
}
