@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--pinkish3);
}

@font-face {
  font-family: "Butler2";
  src: url("/fonts/Butler_Ultra_Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --blueish: 169 18% 76%;
    --greenish: 186 32% 53%;
    --purpleish: 230 25% 60%;
    --pinkish: 287 23% 61%;
    --pinkish2: 324 26% 80%;
    --pinkish3: 290 12% 93%;
  }
}
