---
import Conocernos from "@/components/home/Conocernos.astro";
import Cuidados from "@/components/home/Cuidados.astro";
import DescubreCasa from "@/components/home/DescubreCasa.astro";
import Dra from "@/components/home/Dra.astro";
import Espacios from "@/components/home/Espacios.astro";
import Hero from "@/components/home/Hero.astro";
import Servicios from "@/components/home/Servicios.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <Dra />
  <Cuidados />
  <Servicios />
  <Espacios />
  <Conocernos />
  <DescubreCasa />
  <a
    class="sticky bottom-5 left-full text-green-400 size-16 rounded-md mr-5 flex items-center justify-center cursor-pointer"
    href="https://api.whatsapp.com/send?phone=+523344801259">
    <i class="fi fi-brands-whatsapp text-5xl"></i>
  </a>
</Layout>
