---
import dra from "@/assets/images/Dra.webp";
---

<section class="flex w-full items-center justify-center md:py-10">
  <div class="flex flex-col items-center justify-center gap-5">
    <img src={dra.src} alt="Dra." class="rounded-full w-64 h-64 object-cover object-top" />
    <h2 class="max-w-96">Dra. Gabriela López Especialista en Medicina del Dolor & Cuidados Paliativos</h2>
  </div>
</section>
