---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class={cn(`component-wrapper pt-20 pb-32`, className)}>
  <slot />
</section>

<!-- <style>
  .component-wrapper {
    @apply max-w-7xl mx-auto px-4 py-8;
    /* Add any other shared styles */
  }
</style> -->
