---
import cerdo from "../assets/cerdo.webp";
---

<div class="relative flex items-center justify-center">
  <div class="relative">
    <img
      src={cerdo.src}
      alt=""
      class="w-[80vw] h-[50vh] md:w-[50vw] md:h-[70vh] object-cover max-w-[780px] max-h-[630px]"
    />
    <img src={cerdo.src} alt="" class="w-56 h-56 object-cover absolute right-0 bottom-32 max-size-[230px] translate-x-[130%]" />
    <img src={cerdo.src} alt="" class="w-[200px] h-[400px] object-cover absolute left-0 top-0 -translate-x-[130%] -translate-y-[30%] " />
  </div>
</div>
