---

---

<div
  class="flex flex-col md:flex-row md:items-center items-start justify-center gap-5 md:gap-32 md:py-32 p-10"
>
  <div class="flex flex-col max-w-md gap-5">
    <h2 class="text-5xl font-custom2">Espacios de Paz</h2>
    <p>
      Rincones cálidos, llenos de luz y acondicionados con la útlima tecnología
      clínica para el descanso de nuestros pacientes y sus cuidadores.
    </p>
  </div>

  <div class="py-3 px-5 border border-gray-400 text-center">
    VER INSTALACIONES
  </div>
</div>
