---
import cerdo from "../assets/cerdo.webp";
---

<section
  class="relative grid [grid-area:stack] grid-rows-[100vh] grid-cols-[100vw] items-center justify-center"
  style={{
    backgroundImage: `url(${cerdo.src})`,
    backgroundSize: "cover",
    backgroundPosition: "center",
    backgroundAttachment: "fixed",
  }}>
  <div class="w-full h-full bg-black/40 col-start-1 row-start-1"></div>
  <main
    class="col-start-1 row-start-1 text-white text-center flex flex-col items-center justify-center gap-5">
    <p class="text-md max-w-lg text-center uppercase tracking-[0.2em] text-gray-200 px-5">
      residencia clínica especializada en cuidados paliativos y manejo del dolor.
    </p>
    <h1 class="font-custom2 text-7xl uppercase">Alliviare</h1>
  </main>
</section>
